/* App.css */
.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #c9cec9;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #dddfe2;
  padding: 10px 0;
  text-align: center;
}

.content {
  background-color: #ffffff;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  min-height: 80vh;
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: #6e767d;
}

.addButton {
  margin-left: "3rem";
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px; /* Adjust margin between each todo item */
}

.todo-item-text {
  flex: 1; /* Allow the text to take up remaining space */
  padding-right: 10px; /* Adjust padding between text and button */
  font-size: 16px; /* Example font size adjustment */
  cursor: pointer;
}

.todo-item-btn {
  font-size: 14px;
}

.add-todo-input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.add-todo-button {
  padding: 10px 20px;
  font-size: 16px;
}
